n8n/workflows/bitbucket-ingestion.json
{
  "name": "Laya - Bitbucket Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8420/repos?platform=bitbucket",
        "options": {}
      },
      "name": "Get Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const repos = $input.first().json.repos ?? [];\nconst since = new Date(Date.now() - 150000).toISOString();\nreturn repos\n  .filter(r => r.platform === 'bitbucket' && r.remote_id && r.remote_id.includes('/'))\n  .map(r => {\n    const [workspace, repo] = r.remote_id.split('/');\n    return { json: { workspace, repo, name: r.name, since } };\n  });"
      },
      "name": "Build Repo Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.bitbucket.org/2.0/repositories/' + $json.workspace + '/' + $json.repo + '/pullrequests' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bitbucketAccessTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "OPEN"
            },
            {
              "name": "state",
              "value": "MERGED"
            },
            {
              "name": "state",
              "value": "DECLINED"
            },
            {
              "name": "sort",
              "value": "-updated_on"
            },
            {
              "name": "pagelen",
              "value": "25"
            },
            {
              "name": "q",
              "value": "={{ 'updated_on >= \"' + $json.since.substring(0,19) + '\"' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Pull Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect PR data with repo context for activity lookup.\nconst prItems = [];\nfor (const item of $input.all()) {\n  const prs = item.json.values || [];\n  for (const pr of prs) {\n    const repoSlug = pr.destination?.repository?.full_name || '';\n    if (!repoSlug) continue;\n    prItems.push({ json: { pr, repoSlug, since: item.json.since || new Date(Date.now() - 150000).toISOString() } });\n  }\n}\nreturn prItems.length ? prItems : [{ json: { _skip: true } }];"
      },
      "name": "Extract PRs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.pr?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has PRs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.bitbucket.org/2.0/repositories/' + $json.repoSlug + '/pullrequests/' + $json.pr.id + '/activity' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bitbucketAccessTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pagelen",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "name": "Get PR Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wrap the activity response so it doesn't overwrite PR data on merge.\nreturn $input.all().map(item => ({\n  json: { _activity: item.json.values || [] }\n}));"
      },
      "name": "Wrap Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        450
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "name": "Merge PR + Activity",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Classify PR changes using the activity feed.\n// Produces granular raw_event_type and contextual body.\n\nconst POLL_WINDOW_MS = 150000; // 2.5 minutes\nconst now = Date.now();\n\nconst pr = $json.pr;\nconst repoSlug = $json.repoSlug;\nconst activity = $json._activity || []; // activity feed entries from Wrap Activity node\nconst state = (pr.state || '').toUpperCase();\nconst isNew = pr.created_on === pr.updated_on;\n\n// --- Find recent activity within our poll window ---\nconst recentActivity = activity.filter(a => {\n  // Activity entries have different shapes; find the timestamp\n  const ts = a.update?.date || a.comment?.created_on || a.approval?.date || a.pull_request?.updated_on || '';\n  if (!ts) return false;\n  return (now - new Date(ts).getTime()) < POLL_WINDOW_MS;\n});\n\n// --- Classify the change ---\nlet rawEventType = 'pr_updated';\nlet body = '';\nlet changeType = 'generic_update';\nlet previousState = null;\nlet newState = null;\nlet actorName = pr.author?.display_name || 'Unknown';\nlet actorHandle = pr.author?.nickname || pr.author?.uuid || '';\nlet commentId = null;\n\nif (isNew) {\n  // Brand-new PR\n  rawEventType = 'pr_created';\n  changeType = 'created';\n  body = pr.description || pr.title || '';\n\n} else {\n  // Check activity feed for specific change types (newest first)\n  let classified = false;\n\n  for (const entry of recentActivity) {\n    if (entry.update && !classified) {\n      // State/field update\n      const update = entry.update;\n      const fromState = (update.state?.previous || '').toUpperCase();\n      const toState = (update.state?.new || state).toUpperCase();\n\n      if (update.author) {\n        actorName = update.author.display_name || actorName;\n        actorHandle = update.author.nickname || update.author.uuid || actorHandle;\n      }\n\n      if (toState === 'MERGED' && fromState !== 'MERGED') {\n        rawEventType = 'pr_merged';\n        changeType = 'merged';\n        body = `Pull request merged into ${pr.destination?.branch?.name || 'target branch'}.`;\n        if (pr.merge_commit?.hash) body += ` Merge commit: ${pr.merge_commit.hash.substring(0, 8)}.`;\n        previousState = fromState;\n        newState = 'MERGED';\n        classified = true;\n      } else if (toState === 'DECLINED' && fromState !== 'DECLINED') {\n        rawEventType = 'pr_declined';\n        changeType = 'declined';\n        body = `Pull request declined.`;\n        if (update.reason) body += ` Reason: ${update.reason}`;\n        previousState = fromState;\n        newState = 'DECLINED';\n        classified = true;\n      } else if (fromState === 'MERGED' || fromState === 'DECLINED') {\n        rawEventType = 'pr_reopened';\n        changeType = 'reopened';\n        body = `Pull request reopened: ${fromState} \u2192 ${toState}.`;\n        previousState = fromState;\n        newState = toState;\n        classified = true;\n      } else if (update.title || update.description || update.destination) {\n        rawEventType = 'pr_updated';\n        changeType = 'fields_updated';\n        const changes = [];\n        if (update.title) changes.push('title');\n        if (update.description) changes.push('description');\n        if (update.destination) changes.push('target branch');\n        if (update.reviewers) changes.push('reviewers');\n        body = `PR fields updated: ${changes.join(', ')}.`;\n        classified = true;\n      }\n    }\n\n    if (entry.approval && !classified) {\n      const approval = entry.approval;\n      rawEventType = 'pr_approved';\n      changeType = 'approved';\n      actorName = approval.user?.display_name || actorName;\n      actorHandle = approval.user?.nickname || approval.user?.uuid || actorHandle;\n      body = `Pull request approved by ${actorName}.`;\n      classified = true;\n    }\n\n    if (entry.comment && !classified) {\n      const comment = entry.comment;\n      rawEventType = 'pr_commented';\n      changeType = 'commented';\n      actorName = comment.user?.display_name || actorName;\n      actorHandle = comment.user?.nickname || comment.user?.uuid || actorHandle;\n      const commentBody = comment.content?.raw || comment.content?.markup || '';\n      body = `New comment from ${actorName}:\\n${commentBody}`;\n      // Capture comment ID so replies can target this thread\n      if (comment.id) commentId = String(comment.id);\n      // Check if it's an inline code comment\n      if (comment.inline) {\n        const file = comment.inline.path || 'unknown file';\n        const line = comment.inline.to || comment.inline.from || '';\n        body = `Inline comment on ${file}${line ? ':' + line : ''} from ${actorName}:\\n${commentBody}`;\n        changeType = 'inline_comment';\n      }\n      classified = true;\n    }\n\n    if (classified) break;\n  }\n\n  // Fallback: no recent activity matched \u2014 use PR state\n  if (!classified) {\n    if (state === 'MERGED') {\n      rawEventType = 'pr_merged';\n      changeType = 'merged';\n      body = `Pull request merged into ${pr.destination?.branch?.name || 'target branch'}.`;\n    } else if (state === 'DECLINED') {\n      rawEventType = 'pr_declined';\n      changeType = 'declined';\n      body = `Pull request declined.`;\n    } else {\n      rawEventType = 'pr_updated';\n      changeType = 'no_change_detected';\n      body = `PR polled with no detectable changes. Current state: ${state}.`;\n    }\n  }\n}\n\nconst epoch = new Date(pr.updated_on || Date.now()).getTime();\n\nreturn {\n  json: {\n    event_id: 'evt_bb_pr_' + repoSlug.replace('/', '_') + '_' + pr.id + '_' + epoch,\n    timestamp: pr.updated_on || new Date().toISOString(),\n    source: {\n      platform: 'bitbucket',\n      connection_id: $workflow.id,\n      raw_event_type: rawEventType\n    },\n    actor: {\n      name: actorName,\n      email: '',\n      platform_handle: actorHandle\n    },\n    subject: {\n      type: 'pull_request',\n      id: 'PR-' + pr.id,\n      title: pr.title || '',\n      url: (pr.links && pr.links.html && pr.links.html.href) || ''\n    },\n    content: {\n      body: body,\n      attachments: [],\n      metadata: {\n        bb_repository: repoSlug,\n        bb_branch: pr.source?.branch?.name || '',\n        bb_target_branch: pr.destination?.branch?.name || '',\n        bb_state: state,\n        bb_reviewers: (pr.reviewers || []).map(r => r.display_name || r.nickname || ''),\n        bb_change_type: changeType,\n        bb_previous_state: previousState,\n        bb_new_state: newState,\n        bb_description: pr.description || '',\n        bb_comment_id: commentId,\n        participants: [\n          { role: 'author', name: pr.author?.display_name || '', handle: pr.author?.nickname || pr.author?.uuid || '' },\n          ...(pr.reviewers || []).map(r => ({ role: 'reviewer', name: r.display_name || '', handle: r.nickname || r.uuid || '' }))\n        ]\n      }\n    }\n  }\n};"
      },
      "name": "Classify Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8420/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        300
      ]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repos": {
      "main": [
        [
          {
            "node": "Build Repo Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repo Items": {
      "main": [
        [
          {
            "node": "Get Pull Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pull Requests": {
      "main": [
        [
          {
            "node": "Extract PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PRs": {
      "main": [
        [
          {
            "node": "Has PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has PRs": {
      "main": [
        [
          {
            "node": "Merge PR + Activity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get PR Activity",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get PR Activity": {
      "main": [
        [
          {
            "node": "Wrap Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Activity": {
      "main": [
        [
          {
            "node": "Merge PR + Activity",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PR + Activity": {
      "main": [
        [
          {
            "node": "Classify Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Change": {
      "main": [
        [
          {
            "node": "POST to Laya Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.04.3"
  }
}
