n8n/workflows/bitbucket-executor.json
{
  "name": "Laya - Bitbucket Executor",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "bitbucket-executor",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.workspace || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ $json.body.payload.repo || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ String($json.body.payload.pr_id || '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "comment_pr",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "comment_pr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "approve_pr",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "approve_pr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "decline_pr",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "decline_pr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "merge_pr",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "merge_pr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "name": "Comment on PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -50
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.bitbucket.org/2.0/repositories/' + $json.body.payload.workspace + '/' + $json.body.payload.repo + '/pullrequests/' + $json.body.payload.pr_id + '/comments' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bitbucketAccessTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ content: { raw: $json.body.payload.comment || '' } }, $json.body.payload.comment_id ? { parent: { id: Number($json.body.payload.comment_id) } } : {})) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Approve PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.bitbucket.org/2.0/repositories/' + $json.body.payload.workspace + '/' + $json.body.payload.repo + '/pullrequests/' + $json.body.payload.pr_id + '/approve' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bitbucketAccessTokenApi",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Decline PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        350
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.bitbucket.org/2.0/repositories/' + $json.body.payload.workspace + '/' + $json.body.payload.repo + '/pullrequests/' + $json.body.payload.pr_id + '/decline' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bitbucketAccessTokenApi",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Merge PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        550
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.bitbucket.org/2.0/repositories/' + $json.body.payload.workspace + '/' + $json.body.payload.repo + '/pullrequests/' + $json.body.payload.pr_id + '/merge' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bitbucketAccessTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ merge_strategy: $json.body.payload.merge_strategy || 'squash' }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Respond Comment Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        -100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { action: 'comment_pr', pr_id: $('Webhook').first().json.body.payload.pr_id, comment_id: $json.id || '' } }) }}"
      }
    },
    {
      "name": "Respond Comment Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Bitbucket comment_pr failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Approve Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { action: 'approve_pr', pr_id: $('Webhook').first().json.body.payload.pr_id } }) }}"
      }
    },
    {
      "name": "Respond Approve Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Bitbucket approve_pr failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Decline Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { action: 'decline_pr', pr_id: $('Webhook').first().json.body.payload.pr_id } }) }}"
      }
    },
    {
      "name": "Respond Decline Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Bitbucket decline_pr failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Merge Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { action: 'merge_pr', pr_id: $('Webhook').first().json.body.payload.pr_id, merge_strategy: $('Webhook').first().json.body.payload.merge_strategy || 'squash' } }) }}"
      }
    },
    {
      "name": "Respond Merge Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        600
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Bitbucket merge_pr failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required fields: payload must include workspace, repo, and pr_id' }) }}"
      }
    },
    {
      "name": "Respond Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        750
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown action_type: ' + ($json.body.action_type || 'empty') + '. Supported: comment_pr, approve_pr, decline_pr, merge_pr' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Comment on PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approve PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment on PR": {
      "main": [
        [
          {
            "node": "Respond Comment Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Comment Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve PR": {
      "main": [
        [
          {
            "node": "Respond Approve Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Approve Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decline PR": {
      "main": [
        [
          {
            "node": "Respond Decline Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Decline Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PR": {
      "main": [
        [
          {
            "node": "Respond Merge Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Merge Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.04.1"
  }
}