n8n/workflows/github-executor.json
{
  "name": "Laya - GitHub Executor",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "github-executor",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.owner || '' }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "leftValue": "={{ $json.body.payload.repo || '' }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "leftValue": "={{ String($json.body.payload.issue_number || '') }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 200],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "close_issue",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "close_issue",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "comment",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "comment",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "name": "Close Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 50],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.github.com/repos/' + $json.body.payload.owner + '/' + $json.body.payload.repo + '/issues/' + $json.body.payload.issue_number }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ state: 'closed' }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Has Close Comment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 50],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $('Webhook').first().json.body.payload.comment || '' }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Post Close Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, -50],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.github.com/repos/' + $('Webhook').first().json.body.payload.owner + '/' + $('Webhook').first().json.body.payload.repo + '/issues/' + $('Webhook').first().json.body.payload.issue_number + '/comments' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $('Webhook').first().json.body.payload.comment }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Comment on Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 250],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.github.com/repos/' + $json.body.payload.owner + '/' + $json.body.payload.repo + '/issues/' + $json.body.payload.issue_number + '/comments' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $json.body.payload.comment || $json.body.payload.body || $json.body.payload.message || '' }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Respond Close Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 50],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { url: 'https://github.com/' + $('Webhook').first().json.body.payload.owner + '/' + $('Webhook').first().json.body.payload.repo + '/issues/' + $('Webhook').first().json.body.payload.issue_number, action: 'closed' } }) }}"
      }
    },
    {
      "name": "Respond Close Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'GitHub close issue failed — check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Comment Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 250],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { url: $json.html_url || '', comment_id: $json.id || '' } }) }}"
      }
    },
    {
      "name": "Respond Comment Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'GitHub comment failed — check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required fields: payload must include owner, repo, and issue_number' }) }}"
      }
    },
    {
      "name": "Respond Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown action_type: ' + ($json.body.action_type || 'empty') + '. Supported: close_issue, comment' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [
        [{ "node": "Route Action", "type": "main", "index": 0 }],
        [{ "node": "Respond Missing Fields", "type": "main", "index": 0 }]
      ]
    },
    "Route Action": {
      "main": [
        [{ "node": "Close Issue", "type": "main", "index": 0 }],
        [{ "node": "Comment on Issue", "type": "main", "index": 0 }],
        [{ "node": "Respond Unknown Action", "type": "main", "index": 0 }]
      ]
    },
    "Close Issue": {
      "main": [
        [{ "node": "Has Close Comment", "type": "main", "index": 0 }],
        [{ "node": "Respond Close Error", "type": "main", "index": 0 }]
      ]
    },
    "Has Close Comment": {
      "main": [
        [{ "node": "Post Close Comment", "type": "main", "index": 0 }],
        [{ "node": "Respond Close Success", "type": "main", "index": 0 }]
      ]
    },
    "Post Close Comment": {
      "main": [
        [{ "node": "Respond Close Success", "type": "main", "index": 0 }],
        [{ "node": "Respond Close Success", "type": "main", "index": 0 }]
      ]
    },
    "Comment on Issue": {
      "main": [
        [{ "node": "Respond Comment Success", "type": "main", "index": 0 }],
        [{ "node": "Respond Comment Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
