n8n/workflows/github-ingestion.json
{
  "name": "Laya - GitHub Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 2 }]
        }
      },
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8420/repos?platform=github",
        "options": {}
      },
      "name": "Get Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const repos = $input.first().json.repos ?? [];\nconst since = new Date(Date.now() - 150000).toISOString();\nreturn repos\n  .filter(r => r.platform === 'github' && r.remote_id && r.remote_id.includes('/'))\n  .map(r => {\n    const [owner, repo] = r.remote_id.split('/');\n    return { json: { owner, repo, name: r.name, since } };\n  });"
      },
      "name": "Build Repo Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/' + $json.owner + '/' + $json.repo + '/issues' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "all" },
            { "name": "since", "value": "={{ $json.since }}" },
            { "name": "per_page", "value": "100" },
            { "name": "filter", "value": "all" }
          ]
        },
        "options": {}
      },
      "name": "Get Issues and PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Flatten all repos' issues/PRs into individual Laya events.\n// GitHub's /issues endpoint returns both issues and pull requests;\n// items with a 'pull_request' key are PRs, the rest are issues.\nconst allEvents = [];\nfor (const item of $input.all()) {\n  const issues = Array.isArray(item.json) ? item.json : [item.json];\n  for (const issue of issues) {\n    const repoUrl = issue.repository_url || '';\n    const m = repoUrl.match(/repos\\/([^\\/]+)\\/([^\\/]+)$/);\n    const owner = m ? m[1] : 'unknown';\n    const repo = m ? m[2] : 'unknown';\n    const isPR = !!issue.pull_request;\n    const epoch = new Date(issue.updated_at || Date.now()).getTime();\n    allEvents.push({\n      json: {\n        event_id: (isPR ? 'evt_github_pr_' : 'evt_github_issue_')\n          + owner + '_' + repo + '_' + issue.number + '_' + epoch,\n        timestamp: issue.updated_at || new Date().toISOString(),\n        source: {\n          platform: 'github',\n          connection_id: $workflow.id,\n          raw_event_type: isPR\n            ? (issue.state === 'closed' ? 'pull_request_closed' : 'pull_request_updated')\n            : (issue.state === 'closed' ? 'issue_closed' : 'issue_updated')\n        },\n        actor: {\n          name: (issue.user && issue.user.login) || 'unknown',\n          email: '',\n          platform_handle: (issue.user && issue.user.login) || ''\n        },\n        subject: {\n          type: isPR ? 'pull_request' : 'ticket',\n          id: String(issue.number),\n          title: issue.title || '',\n          url: issue.html_url || ''\n        },\n        content: {\n          body: issue.body || '',\n          attachments: [],\n          metadata: {\n            state: issue.state,\n            labels: (issue.labels || []).map(function(l) { return l.name; }),\n            repo: owner + '/' + repo,\n            is_pr: isPR\n          }\n        }\n      }\n    });\n  }\n}\nreturn allEvents;"
      },
      "name": "Normalize to Laya Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8420/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, timestamp: $json.timestamp, source: $json.source, actor: $json.actor, subject: $json.subject, content: $json.content }) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [[{ "node": "Get Repos", "type": "main", "index": 0 }]]
    },
    "Get Repos": {
      "main": [[{ "node": "Build Repo Items", "type": "main", "index": 0 }]]
    },
    "Build Repo Items": {
      "main": [[{ "node": "Get Issues and PRs", "type": "main", "index": 0 }]]
    },
    "Get Issues and PRs": {
      "main": [[{ "node": "Normalize to Laya Events", "type": "main", "index": 0 }]]
    },
    "Normalize to Laya Events": {
      "main": [[{ "node": "POST to Laya Engine", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
