n8n/workflows/gmail-executor.json
{
  "name": "Laya - Gmail Executor",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "gmail-executor",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.to || $json.body.payload.gmail_id || $json.body.payload.raw || $json.body.event_actor_email || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "send_email",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "send_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "forward",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "forward",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "archive",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "archive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "star",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "star",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "mark_read",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "mark_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -50
      ],
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body.payload) }}",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "notes": "POSTs a pre-built raw MIME payload to gmail.googleapis.com. The engine (gmail.build_api_payload) constructs the RFC 2822 message + base64url encoding in Python so this node just passes the payload through. We bypass n8n-nodes-base.gmail's 'send' operation because v2 doesn't expose custom In-Reply-To / References headers needed for threading."
    },
    {
      "name": "Forward Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        900,
        150
      ],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.body.payload.to }}",
        "subject": "={{ $json.body.payload.subject || ('Fwd: ' + ($json.body.event_subject || '')) }}",
        "message": "={{ '---------- Forwarded message ----------\\n' + ($json.body.payload.body || $json.body.payload.message || '') }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Archive Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        350
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/gmail/v1/users/me/messages/' + $json.body.payload.gmail_id + '/modify' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ removeLabelIds: ['INBOX'] }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Star Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        550
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/gmail/v1/users/me/messages/' + $json.body.payload.gmail_id + '/modify' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ addLabelIds: ['STARRED'] }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Mark Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        750
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/gmail/v1/users/me/messages/' + $json.body.payload.gmail_id + '/modify' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ removeLabelIds: ['UNREAD'] }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Respond Send Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        -100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { message_id: $json.id || '', action: 'sent' } }) }}"
      }
    },
    {
      "name": "Respond Send Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Gmail send failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Forward Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { message_id: $json.id || '', action: 'forwarded' } }) }}"
      }
    },
    {
      "name": "Respond Forward Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Gmail forward failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Archive Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { gmail_id: $('Webhook').first().json.body.payload.gmail_id || '', action: 'archived' } }) }}"
      }
    },
    {
      "name": "Respond Archive Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Gmail archive failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Star Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { gmail_id: $('Webhook').first().json.body.payload.gmail_id || '', action: 'starred' } }) }}"
      }
    },
    {
      "name": "Respond Star Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        600
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Gmail star failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Mark Read Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        700
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { gmail_id: $('Webhook').first().json.body.payload.gmail_id || '', action: 'marked_read' } }) }}"
      }
    },
    {
      "name": "Respond Mark Read Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        800
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Gmail mark read failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required fields: payload must include to (for send/forward) or gmail_id (for archive/star/mark_read)' }) }}"
      }
    },
    {
      "name": "Respond Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        950
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown action_type: ' + ($json.body.action_type || 'empty') + '. Supported: send_email, forward, archive, star, mark_read' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Star Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond Send Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Email": {
      "main": [
        [
          {
            "node": "Respond Forward Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Forward Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Message": {
      "main": [
        [
          {
            "node": "Respond Archive Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Archive Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Star Message": {
      "main": [
        [
          {
            "node": "Respond Star Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Star Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Read": {
      "main": [
        [
          {
            "node": "Respond Mark Read Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Mark Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.04.5"
  }
}