n8n/workflows/gmail-ingestion.json
{
  "name": "Laya - Gmail Ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "labelIds": ["INBOX"]
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": true
      },
      "name": "Get Thread ID",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [450, 150],
      "notes": "Lightweight fetch with simple:true to get reliable threadId from Gmail API (format=metadata). The trigger's simple:false uses format=raw + mailparser which can clobber threadId."
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "raw_from_email",
              "value": "={{ (typeof $('Gmail Trigger').item.json.from === 'object' && $('Gmail Trigger').item.json.from.value && $('Gmail Trigger').item.json.from.value[0]) ? $('Gmail Trigger').item.json.from.value[0].address : (typeof $('Gmail Trigger').item.json.from === 'string' ? ($('Gmail Trigger').item.json.from.match(/<([^>]+)>/)?.[1] || $('Gmail Trigger').item.json.from.trim()) : '') }}",
              "type": "string"
            },
            {
              "name": "raw_from_name",
              "value": "={{ (typeof $('Gmail Trigger').item.json.from === 'object' && $('Gmail Trigger').item.json.from.value && $('Gmail Trigger').item.json.from.value[0]) ? ($('Gmail Trigger').item.json.from.value[0].name || '') : (typeof $('Gmail Trigger').item.json.from === 'string' ? $('Gmail Trigger').item.json.from.replace(/<[^>]+>/g, '').trim() : '') }}",
              "type": "string"
            },
            {
              "name": "raw_to_email",
              "value": "={{ (typeof $('Gmail Trigger').item.json.to === 'object' && $('Gmail Trigger').item.json.to.value && $('Gmail Trigger').item.json.to.value[0]) ? $('Gmail Trigger').item.json.to.value[0].address : (typeof $('Gmail Trigger').item.json.to === 'string' ? ($('Gmail Trigger').item.json.to.match(/<([^>]+)>/)?.[1] || $('Gmail Trigger').item.json.to.trim()) : '') }}",
              "type": "string"
            },
            {
              "name": "raw_subject",
              "value": "={{ (typeof $('Gmail Trigger').item.json.subject === 'object') ? ($('Gmail Trigger').item.json.subject.value || JSON.stringify($('Gmail Trigger').item.json.subject)) : ($('Gmail Trigger').item.json.subject || '') }}",
              "type": "string"
            },
            {
              "name": "is_reply",
              "value": "={{ !!($('Gmail Trigger').item.json['in-reply-to'] || $('Gmail Trigger').item.json['references'] || $('Gmail Trigger').item.json.inReplyTo || ($('Gmail Trigger').item.json.headers && ($('Gmail Trigger').item.json.headers['in-reply-to'] || $('Gmail Trigger').item.json.headers['references']))) }}",
              "type": "boolean"
            },
            { "name": "gmail_id", "value": "={{ $('Gmail Trigger').item.json.id }}", "type": "string" },
            { "name": "gmail_threadId", "value": "={{ $json.threadId || $('Gmail Trigger').item.json.threadId || $('Gmail Trigger').item.json.id }}", "type": "string" },
            { "name": "gmail_internalDate", "value": "={{ $('Gmail Trigger').item.json.internalDate || $('Gmail Trigger').item.json.date }}", "type": "string" },
            { "name": "gmail_labelIds", "value": "={{ JSON.stringify($('Gmail Trigger').item.json.labelIds || $('Gmail Trigger').item.json.labels || []) }}", "type": "string" },
            {
              "name": "gmail_body",
              "value": "={{ $('Gmail Trigger').item.json.text || $('Gmail Trigger').item.json.snippet || $('Gmail Trigger').item.json.html || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Extract Headers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "name": "event_id", "value": "={{ 'evt_gmail_' + ($json.gmail_id || Date.now()) }}", "type": "string" },
            { "name": "timestamp", "value": "={{ $json.gmail_internalDate ? new Date(parseInt($json.gmail_internalDate) > 9999999999 ? parseInt($json.gmail_internalDate) : parseInt($json.gmail_internalDate) * 1000).toISOString() : new Date().toISOString() }}", "type": "string" },
            { "name": "source.platform", "value": "gmail", "type": "string" },
            { "name": "source.connection_id", "value": "gmail_main", "type": "string" },
            { "name": "source.raw_event_type", "value": "={{ $json.is_reply ? 'reply_received' : 'new_email' }}", "type": "string" },
            { "name": "actor.name", "value": "={{ $json.raw_from_name }}", "type": "string" },
            { "name": "actor.email", "value": "={{ $json.raw_from_email }}", "type": "string" },
            { "name": "actor.platform_handle", "value": "", "type": "string" },
            { "name": "subject.type", "value": "email_thread", "type": "string" },
            { "name": "subject.id", "value": "={{ $json.gmail_threadId }}", "type": "string" },
            { "name": "subject.title", "value": "={{ $json.raw_subject || 'No Subject' }}", "type": "string" },
            { "name": "subject.url", "value": "={{ 'https://mail.google.com/mail/u/0/#inbox/' + ($json.gmail_id || '') }}", "type": "string" },
            { "name": "content.body", "value": "={{ $json.gmail_body }}", "type": "string" },
            { "name": "content.metadata", "value": "={{ JSON.stringify({ gmail_thread_id: $json.gmail_threadId, gmail_labels: JSON.parse($json.gmail_labelIds || '[]'), gmail_from: $json.raw_from_email, gmail_to: [$json.raw_to_email], gmail_cc: [], gmail_is_reply: $json.is_reply }) }}", "type": "string" }
          ]
        }
      },
      "name": "Normalize to Laya Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8420/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, timestamp: $json.timestamp, source: $json.source, actor: $json.actor, subject: $json.subject, content: { body: $json.content.body, attachments: [], metadata: JSON.parse($json.content.metadata || '{}') } }) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Get Thread ID", "type": "main", "index": 0 }]]
    },
    "Get Thread ID": {
      "main": [[{ "node": "Extract Headers", "type": "main", "index": 0 }]]
    },
    "Extract Headers": {
      "main": [[{ "node": "Normalize to Laya Event", "type": "main", "index": 0 }]]
    },
    "Normalize to Laya Event": {
      "main": [[{ "node": "POST to Laya Engine", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
