n8n/workflows/jira-ingestion.json
{
  "name": "Laya - Jira Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "returnAll": false,
        "limit": 25,
        "options": {
          "jql": "updated >= \"-2m\" ORDER BY updated DESC",
          "fields": "summary,description,status,priority,assignee,reporter,project,labels,updated,created,issuetype,comment"
        }
      },
      "name": "Search Recent Issues",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "name": "event_id", "value": "={{ 'evt_jira_' + $json.id + '_' + new Date($json.fields?.updated || Date.now()).getTime() }}", "type": "string" },
            { "name": "timestamp", "value": "={{ $json.fields?.updated || new Date().toISOString() }}", "type": "string" },
            { "name": "source.platform", "value": "jira", "type": "string" },
            { "name": "source.connection_id", "value": "={{ $workflow.id }}", "type": "string" },
            { "name": "source.raw_event_type", "value": "={{ $json.fields?.created === $json.fields?.updated ? 'issue_created' : 'issue_updated' }}", "type": "string" },
            { "name": "actor.name", "value": "={{ $json.fields?.reporter?.displayName || $json.fields?.assignee?.displayName || 'Unknown' }}", "type": "string" },
            { "name": "actor.email", "value": "={{ $json.fields?.reporter?.emailAddress || $json.fields?.assignee?.emailAddress || '' }}", "type": "string" },
            { "name": "actor.platform_handle", "value": "={{ $json.fields?.reporter?.name || $json.fields?.reporter?.accountId || '' }}", "type": "string" },
            { "name": "subject.type", "value": "ticket", "type": "string" },
            { "name": "subject.id", "value": "={{ $json.key || '' }}", "type": "string" },
            { "name": "subject.title", "value": "={{ $json.fields?.summary || '' }}", "type": "string" },
            { "name": "subject.url", "value": "={{ $json.self ? $json.self.split('/rest/')[0] + '/browse/' + $json.key : null }}", "type": "string" },
            { "name": "content.body", "value": "={{ typeof $json.fields?.description === 'string' ? $json.fields.description : ($json.fields?.description?.content?.[0]?.content?.[0]?.text || $json.fields?.summary || '') }}", "type": "string" },
            { "name": "content.metadata", "value": "={{ JSON.stringify({ jira_project: $json.fields?.project?.key, jira_labels: $json.fields?.labels, jira_priority: $json.fields?.priority?.name, jira_status: $json.fields?.status?.name, jira_issue_type: $json.fields?.issuetype?.name, jira_assignee: $json.fields?.assignee?.emailAddress, jira_reporter: $json.fields?.reporter?.emailAddress }) }}", "type": "string" }
          ]
        }
      },
      "name": "Normalize to Laya Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8420/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, timestamp: $json.timestamp, source: $json.source, actor: $json.actor, subject: $json.subject, content: { body: $json.content.body, attachments: [], metadata: JSON.parse($json.content.metadata || '{}') } }) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [[{ "node": "Search Recent Issues", "type": "main", "index": 0 }]]
    },
    "Search Recent Issues": {
      "main": [[{ "node": "Normalize to Laya Event", "type": "main", "index": 0 }]]
    },
    "Normalize to Laya Event": {
      "main": [[{ "node": "POST to Laya Engine", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
