n8n/workflows/jira-ingestion.json
{
  "name": "Laya - Jira Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "returnAll": false,
        "limit": 25,
        "options": {
          "jql": "updated >= \"-2m\" ORDER BY updated DESC",
          "fields": "summary,description,status,priority,assignee,reporter,project,labels,updated,created,issuetype,comment"
        }
      },
      "name": "Search Recent Issues",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.self + '/changelog?maxResults=100' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "name": "Get Changelogs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wrap the changelog response so it matches the shape\n// the Classify Change node expects: json.changelog.histories\nreturn $input.all().map(item => {\n  return {\n    json: {\n      changelog: {\n        histories: item.json.values || []\n      }\n    }\n  };\n});"
      },
      "name": "Wrap Changelog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        450
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Classify what changed on each Jira issue using the changelog.\n// Produces granular raw_event_type and a contextual body that\n// describes the *change*, not just the full ticket description.\n\nconst TWO_MINUTES_MS = 2 * 60 * 1000;\nconst now = Date.now();\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const json = item.json;\n  const fields = json.fields || {};\n  const created = fields.created;\n  const updated = fields.updated;\n\n  // --- Determine if this is a brand-new issue ---\n  const isNew = created === updated;\n\n  // --- Parse changelog for recent changes ---\n  const changelog = json.changelog || {};\n  const histories = changelog.histories || [];\n\n  // Only look at changes from the last 2 minutes (matching our poll window)\n  const recentChanges = histories.filter(h => {\n    const changeTime = new Date(h.created).getTime();\n    return (now - changeTime) < TWO_MINUTES_MS;\n  });\n\n  // Collect changed fields from recent history\n  const changedFields = [];\n  const fieldChanges = {};  // { fieldName: { from, to } }\n  for (const history of recentChanges) {\n    for (const changeItem of (history.items || [])) {\n      const field = changeItem.field;\n      changedFields.push(field);\n      fieldChanges[field] = {\n        from: changeItem.fromString || changeItem.from || '',\n        to: changeItem.toString || changeItem.to || ''\n      };\n    }\n  }\n\n  // --- Classify the change type ---\n  let rawEventType = 'issue_updated';  // fallback\n  let body = '';\n  let changeType = 'generic_update';\n  let previousStatus = null;\n  let newStatus = null;\n  let resolution = null;\n\n  if (isNew) {\n    // Brand-new issue\n    rawEventType = 'issue_created';\n    changeType = 'created';\n    const desc = fields.description;\n    body = typeof desc === 'string'\n      ? desc\n      : (desc?.content?.[0]?.content?.[0]?.text || fields.summary || '');\n\n  } else if (fieldChanges['status']) {\n    // Status transition\n    const from = fieldChanges['status'].from;\n    const to = fieldChanges['status'].to;\n    previousStatus = from;\n    newStatus = to;\n\n    const closedStatuses = ['done', 'closed', 'resolved', 'cancelled'];\n    const toL = to.toLowerCase();\n    const fromL = from.toLowerCase();\n\n    if (closedStatuses.includes(toL) && !closedStatuses.includes(fromL)) {\n      // Ticket closed/resolved\n      rawEventType = 'issue_resolved';\n      changeType = 'resolved';\n      resolution = fields.resolution?.name || null;\n      body = `Ticket ${toL}: ${from} \u2192 ${to}.`;\n      if (resolution) body += ` Resolution: ${resolution}.`;\n      // Append latest comment if any (often contains resolution notes)\n      const comments = fields.comment?.comments;\n      if (comments?.length) {\n        const latest = comments[comments.length - 1];\n        const commentBody = typeof latest.body === 'string'\n          ? latest.body\n          : (latest.body?.content?.[0]?.content?.[0]?.text || '');\n        if (commentBody) body += `\\n\\nLatest comment (${latest.author?.displayName || 'Unknown'}): ${commentBody}`;\n      }\n\n    } else if (closedStatuses.includes(fromL) && !closedStatuses.includes(toL)) {\n      // Ticket reopened\n      rawEventType = 'issue_reopened';\n      changeType = 'reopened';\n      body = `Ticket reopened: ${from} \u2192 ${to}.`;\n\n    } else {\n      // Regular status transition (e.g., To Do \u2192 In Progress)\n      rawEventType = 'issue_status_changed';\n      changeType = 'status_changed';\n      body = `Status changed: ${from} \u2192 ${to}.`;\n    }\n\n  } else if (fieldChanges['assignee']) {\n    // Reassignment\n    rawEventType = 'issue_assigned';\n    changeType = 'assigned';\n    const from = fieldChanges['assignee'].from || 'Unassigned';\n    const to = fieldChanges['assignee'].to || 'Unassigned';\n    body = `Assignee changed: ${from} \u2192 ${to}.`;\n\n  } else if (fieldChanges['priority']) {\n    // Priority change\n    rawEventType = 'issue_priority_changed';\n    changeType = 'priority_changed';\n    body = `Priority changed: ${fieldChanges['priority'].from} \u2192 ${fieldChanges['priority'].to}.`;\n\n  } else {\n    // Check if there's a new comment (comments don't always appear in changelog)\n    const comments = fields.comment?.comments;\n    if (comments?.length) {\n      const latest = comments[comments.length - 1];\n      const commentTime = new Date(latest.created).getTime();\n      if ((now - commentTime) < TWO_MINUTES_MS) {\n        rawEventType = 'issue_commented';\n        changeType = 'commented';\n        const commentBody = typeof latest.body === 'string'\n          ? latest.body\n          : (latest.body?.content?.[0]?.content?.[0]?.text || '');\n        body = `New comment from ${latest.author?.displayName || 'Unknown'}:\\n${commentBody}`;\n      }\n    }\n\n    // Fallback: summarize what fields changed\n    if (rawEventType === 'issue_updated' && changedFields.length > 0) {\n      changeType = 'fields_updated';\n      const summaries = Object.entries(fieldChanges).map(\n        ([f, c]) => `${f}: ${c.from || '(empty)'} \u2192 ${c.to || '(empty)'}`\n      );\n      body = `Fields updated:\\n${summaries.join('\\n')}`;\n    } else if (rawEventType === 'issue_updated') {\n      // No changelog entries found \u2014 possibly a re-poll of same state\n      changeType = 'no_change_detected';\n      body = `Issue polled with no detectable changes. Current status: ${fields.status?.name || 'Unknown'}.`;\n    }\n  }\n\n  // --- Build the full description for metadata reference ---\n  const fullDescription = typeof fields.description === 'string'\n    ? fields.description\n    : (fields.description?.content?.[0]?.content?.[0]?.text || '');\n\n  // --- Pick the actor ---\n  // For commented events, use the commenter. For status changes, try the\n  // changelog author. Otherwise fall back to reporter/assignee.\n  let actorName = fields.reporter?.displayName || 'Unknown';\n  let actorEmail = fields.reporter?.emailAddress || '';\n  let actorHandle = fields.reporter?.name || fields.reporter?.accountId || '';\n\n  if (rawEventType === 'issue_commented') {\n    const comments = fields.comment?.comments;\n    if (comments?.length) {\n      const latest = comments[comments.length - 1];\n      actorName = latest.author?.displayName || actorName;\n      actorEmail = latest.author?.emailAddress || actorEmail;\n      actorHandle = latest.author?.name || latest.author?.accountId || actorHandle;\n    }\n  } else if (recentChanges.length > 0) {\n    // Use the author of the most recent changelog entry\n    const lastChange = recentChanges[recentChanges.length - 1];\n    if (lastChange.author) {\n      actorName = lastChange.author.displayName || actorName;\n      actorEmail = lastChange.author.emailAddress || actorEmail;\n      actorHandle = lastChange.author.name || lastChange.author.accountId || actorHandle;\n    }\n  }\n\n  results.push({\n    json: {\n      event_id: 'evt_jira_' + json.id + '_' + new Date(updated || Date.now()).getTime(),\n      timestamp: updated || new Date().toISOString(),\n      source: {\n        platform: 'jira',\n        connection_id: $workflow.id,\n        raw_event_type: rawEventType\n      },\n      actor: {\n        name: actorName,\n        email: actorEmail,\n        platform_handle: actorHandle\n      },\n      subject: {\n        type: 'ticket',\n        id: json.key || '',\n        title: fields.summary || '',\n        url: json.self ? json.self.split('/rest/')[0] + '/browse/' + json.key : null\n      },\n      content: {\n        body: body,\n        attachments: [],\n        metadata: {\n          jira_project: fields.project?.key,\n          jira_labels: fields.labels,\n          jira_priority: fields.priority?.name,\n          jira_status: fields.status?.name,\n          jira_issue_type: fields.issuetype?.name,\n          jira_assignee: fields.assignee?.emailAddress,\n          jira_reporter: fields.reporter?.emailAddress,\n          jira_change_type: changeType,\n          jira_previous_status: previousStatus,\n          jira_new_status: newStatus,\n          jira_resolution: resolution || fields.resolution?.name || null,\n          jira_changed_fields: changedFields,\n          jira_description: fullDescription\n        }\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Classify Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8420/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1550,
        300
      ]
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [
        [
          {
            "node": "Search Recent Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Recent Issues": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Changelogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Changelogs": {
      "main": [
        [
          {
            "node": "Wrap Changelog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Changelog": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Classify Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Change": {
      "main": [
        [
          {
            "node": "POST to Laya Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.03.1"
  }
}
