n8n/workflows/jira-executor.json
{
  "name": "Laya - Jira Executor",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "jira-executor",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action_type || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "comment",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "comment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "transition",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "transition",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "create_issue",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "create_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "assign",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "assign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "name": "Add Comment",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        900,
        -50
      ],
      "parameters": {
        "resource": "issueComment",
        "operation": "add",
        "issueKey": "={{ $json.body.payload.issue_key }}",
        "comment": "={{ $json.body.payload.comment }}",
        "options": {}
      },
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "jiraSoftwareCloudApi",
          "name": "Jira Cloud"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Get Transitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        150
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.payload.jira_base_url || 'https://your-domain.atlassian.net' }}/rest/api/3/issue/{{ $json.body.payload.issue_key }}/transitions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Find Matching Transition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.transitions || []).filter(t => t.name.toLowerCase() === ($('Webhook').first().json.body.payload.target_status || '').toLowerCase()).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Execute Transition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        50
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.body.payload.jira_base_url || 'https://your-domain.atlassian.net' }}/rest/api/3/issue/{{ $('Webhook').first().json.body.payload.issue_key }}/transitions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ transition: { id: ($('Get Transitions').first().json.transitions || []).find(t => t.name.toLowerCase() === ($('Webhook').first().json.body.payload.target_status || '').toLowerCase()).id } }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Create Issue",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        900,
        350
      ],
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "project": "={{ $json.body.payload.project }}",
        "issueType": "={{ $json.body.payload.type || 'Task' }}",
        "summary": "={{ $json.body.payload.summary }}",
        "additionalFields": {
          "description": "={{ $json.body.payload.description || '' }}",
          "priority": "={{ $json.body.payload.priority || '' }}",
          "assignee": "={{ $json.body.payload.assignee || '' }}"
        }
      },
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "jiraSoftwareCloudApi",
          "name": "Jira Cloud"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Assign Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        550
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.body.payload.jira_base_url || 'https://your-domain.atlassian.net' }}/rest/api/3/issue/{{ $json.body.payload.issue_key }}/assignee",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ accountId: $json.body.payload.assignee }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Respond Comment Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        -100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { issue_key: $('Webhook').first().json.body.payload.issue_key, action: 'comment_added', comment_id: $json.id || '' } }) }}"
      }
    },
    {
      "name": "Respond Comment Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        -10
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Jira add comment failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Transition Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { issue_key: $('Webhook').first().json.body.payload.issue_key, action: 'transitioned', target_status: $('Webhook').first().json.body.payload.target_status } }) }}"
      }
    },
    {
      "name": "Respond Transition Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        150
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Jira transition failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Transition Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'No matching transition found for target_status: ' + ($('Webhook').first().json.body.payload.target_status || 'empty') + '. Available transitions: ' + ($json.transitions || []).map(t => t.name).join(', ') }) }}"
      }
    },
    {
      "name": "Respond Get Transitions Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        250
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Failed to fetch available transitions for issue \u2014 check credentials and issue_key') }) }}"
      }
    },
    {
      "name": "Respond Create Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { issue_key: $json.key || '', issue_id: $json.id || '', action: 'created', self: $json.self || '' } }) }}"
      }
    },
    {
      "name": "Respond Create Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        450
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Jira create issue failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Assign Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { issue_key: $('Webhook').first().json.body.payload.issue_key, action: 'assigned', assignee: $('Webhook').first().json.body.payload.assignee } }) }}"
      }
    },
    {
      "name": "Respond Assign Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        650
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Jira assign issue failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required field: action_type is required' }) }}"
      }
    },
    {
      "name": "Respond Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        750
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown action_type: ' + ($json.body.action_type || 'empty') + '. Supported: comment, transition, create_issue, assign' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Add Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Transitions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Comment": {
      "main": [
        [
          {
            "node": "Respond Comment Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Comment Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transitions": {
      "main": [
        [
          {
            "node": "Find Matching Transition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Get Transitions Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Transition": {
      "main": [
        [
          {
            "node": "Execute Transition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Transition Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Transition": {
      "main": [
        [
          {
            "node": "Respond Transition Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Transition Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Issue": {
      "main": [
        [
          {
            "node": "Respond Create Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Create Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Issue": {
      "main": [
        [
          {
            "node": "Respond Assign Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Assign Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.04.1"
  }
}