n8n/workflows/linear-executor.json
{
  "name": "Laya - Linear Executor",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "linear-executor",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action_type || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "create_issue",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "create_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "comment",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "comment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "update_status",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "update_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "assign",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "assign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "name": "Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -50
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { issueCreate(input: { teamId: \"' + $json.body.payload.team_id + '\", title: \"' + ($json.body.payload.title || '').replace(/\"/g, '\\\\\"') + '\"' + ($json.body.payload.description ? ', description: \"' + $json.body.payload.description.replace(/\"/g, '\\\\\"') + '\"' : '') + ($json.body.payload.priority !== undefined ? ', priority: ' + $json.body.payload.priority : '') + ' }) { success issue { id identifier url } } }' }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Check Create Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        -50
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.errors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Add Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { commentCreate(input: { issueId: \"' + $json.body.payload.issue_id + '\", body: \"' + ($json.body.payload.body || '').replace(/\"/g, '\\\\\"') + '\" }) { success comment { id } } }' }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Check Comment Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.errors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { issueUpdate(id: \"' + $json.body.payload.issue_id + '\", input: { stateId: \"' + $json.body.payload.state_id + '\" }) { success issue { id state { name } } } }' }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Check Status Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        450
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.errors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Assign Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation { issueUpdate(id: \"' + $json.body.payload.issue_id + '\", input: { assigneeId: \"' + $json.body.payload.assignee_id + '\" }) { success issue { id assignee { name } } } }' }) }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Check Assign Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.errors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Respond Create Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        -150
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { issue: ($json.data && $json.data.issueCreate) ? $json.data.issueCreate.issue : {}, action: 'created' } }) }}"
      }
    },
    {
      "name": "Respond Create Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        50
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : ($json.errors ? JSON.stringify($json.errors) : 'Linear create issue failed — check credentials and workflow execution log')) }) }}"
      }
    },
    {
      "name": "Respond Comment Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        150
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { comment: ($json.data && $json.data.commentCreate) ? $json.data.commentCreate.comment : {}, action: 'commented' } }) }}"
      }
    },
    {
      "name": "Respond Comment Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        250
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : ($json.errors ? JSON.stringify($json.errors) : 'Linear comment failed — check credentials and workflow execution log')) }) }}"
      }
    },
    {
      "name": "Respond Status Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { issue: ($json.data && $json.data.issueUpdate) ? $json.data.issueUpdate.issue : {}, action: 'status_updated' } }) }}"
      }
    },
    {
      "name": "Respond Status Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : ($json.errors ? JSON.stringify($json.errors) : 'Linear update status failed — check credentials and workflow execution log')) }) }}"
      }
    },
    {
      "name": "Respond Assign Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        650
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { issue: ($json.data && $json.data.issueUpdate) ? $json.data.issueUpdate.issue : {}, action: 'assigned' } }) }}"
      }
    },
    {
      "name": "Respond Assign Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        750
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : ($json.errors ? JSON.stringify($json.errors) : 'Linear assign failed — check credentials and workflow execution log')) }) }}"
      }
    },
    {
      "name": "Respond Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required field: action_type is required' }) }}"
      }
    },
    {
      "name": "Respond Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        950
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown action_type: ' + ($json.body.action_type || 'empty') + '. Supported: create_issue, comment, update_status, assign' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Create Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Issue": {
      "main": [
        [
          {
            "node": "Check Create Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Create Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Create Result": {
      "main": [
        [
          {
            "node": "Respond Create Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Create Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Comment": {
      "main": [
        [
          {
            "node": "Check Comment Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Comment Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Comment Result": {
      "main": [
        [
          {
            "node": "Respond Comment Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Comment Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Check Status Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Result": {
      "main": [
        [
          {
            "node": "Respond Status Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Issue": {
      "main": [
        [
          {
            "node": "Check Assign Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Assign Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Assign Result": {
      "main": [
        [
          {
            "node": "Respond Assign Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Assign Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.04.1"
  }
}