n8n/workflows/outlook-email-executor.json
{
  "name": "Laya - Outlook Email Executor",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "outlook-email-executor",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "archive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "archive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "mark_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "mark_read"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "send_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "send"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "name": "Validate Recipient",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.to || $json.body.event_actor_email || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Validate Archive ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.outlook_id || $json.body.payload.message_id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Validate Mark Read ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.outlook_id || $json.body.payload.message_id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        800,
        50
      ],
      "parameters": {
        "operation": "send",
        "toRecipients": "={{ $json.body.payload.to || $json.body.event_actor_email }}",
        "subject": "={{ $json.body.payload.subject || (($json.body.event_subject || '').toLowerCase().startsWith('re:') ? $json.body.event_subject : 'Re: ' + ($json.body.event_subject || '')) }}",
        "bodyContent": "={{ $json.body.payload.body || $json.body.payload.message || '' }}",
        "additionalFields": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Archive Message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        800,
        250
      ],
      "parameters": {
        "resource": "message",
        "operation": "move",
        "messageId": "={{ $json.body.payload.outlook_id || $json.body.payload.message_id }}",
        "folderId": "archive"
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Mark Read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        800,
        450
      ],
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": "={{ $json.body.payload.outlook_id || $json.body.payload.message_id }}",
        "updateFields": {
          "isRead": true
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Respond Send Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { message_id: $json.id || '' } }) }}"
      }
    },
    {
      "name": "Respond Send Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Outlook send failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Archive Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { archived: true } }) }}"
      }
    },
    {
      "name": "Respond Archive Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Outlook archive failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Mark Read Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { marked_read: true } }) }}"
      }
    },
    {
      "name": "Respond Mark Read Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Outlook mark_read failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Missing Recipient",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        150
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'No recipient email \u2014 payload.to is missing and event_actor_email is empty. Check Outlook ingestion workflow is capturing actor.email.' }) }}"
      }
    },
    {
      "name": "Respond Missing Archive ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        350
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'No outlook_id \u2014 payload.outlook_id is missing. Check Outlook ingestion workflow captures message id and event_id is formatted as evt_outlook_<id>.' }) }}"
      }
    },
    {
      "name": "Respond Missing Mark Read ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        550
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'No outlook_id \u2014 payload.outlook_id is missing.' }) }}"
      }
    },
    {
      "name": "Respond Unsupported Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        700
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unsupported Outlook action: ' + ($json.body.action_type || 'unknown') }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Validate Archive ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Mark Read ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Recipient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unsupported Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Recipient": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Archive ID": {
      "main": [
        [
          {
            "node": "Archive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Archive ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Mark Read ID": {
      "main": [
        [
          {
            "node": "Mark Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Mark Read ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond Send Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Message": {
      "main": [
        [
          {
            "node": "Respond Archive Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Archive Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Read": {
      "main": [
        [
          {
            "node": "Respond Mark Read Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Mark Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.04.4"
  }
}
