n8n/workflows/outlook-email-ingestion.json
{
  "name": "Laya - Outlook Email Ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false
      },
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "raw_from_email",
              "value": "={{ $json.from?.emailAddress?.address || '' }}",
              "type": "string"
            },
            {
              "name": "raw_from_name",
              "value": "={{ $json.from?.emailAddress?.name || '' }}",
              "type": "string"
            },
            {
              "name": "raw_to_email",
              "value": "={{ ($json.toRecipients && $json.toRecipients[0]) ? $json.toRecipients[0].emailAddress?.address : '' }}",
              "type": "string"
            },
            {
              "name": "raw_subject",
              "value": "={{ $json.subject || '' }}",
              "type": "string"
            },
            {
              "name": "is_reply",
              "value": "={{ !!$json.conversationIndex && $json.conversationIndex.length > 44 }}",
              "type": "boolean"
            },
            { "name": "outlook_id", "value": "={{ $json.id }}", "type": "string" },
            { "name": "outlook_conversationId", "value": "={{ $json.conversationId || $json.id }}", "type": "string" },
            { "name": "outlook_receivedDateTime", "value": "={{ $json.receivedDateTime || $json.createdDateTime }}", "type": "string" },
            { "name": "outlook_categories", "value": "={{ JSON.stringify($json.categories || []) }}", "type": "string" },
            {
              "name": "outlook_body",
              "value": "={{ $json.body?.content ? $json.body.content.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim() : ($json.bodyPreview || '') }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Extract Headers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "name": "event_id", "value": "={{ 'evt_outlook_' + ($json.outlook_id || Date.now()) }}", "type": "string" },
            { "name": "timestamp", "value": "={{ $json.outlook_receivedDateTime ? new Date($json.outlook_receivedDateTime).toISOString() : new Date().toISOString() }}", "type": "string" },
            { "name": "source.platform", "value": "outlook", "type": "string" },
            { "name": "source.connection_id", "value": "={{ $workflow.id }}", "type": "string" },
            { "name": "source.raw_event_type", "value": "={{ $json.is_reply ? 'reply_received' : 'new_email' }}", "type": "string" },
            { "name": "actor.name", "value": "={{ $json.raw_from_name }}", "type": "string" },
            { "name": "actor.email", "value": "={{ $json.raw_from_email }}", "type": "string" },
            { "name": "actor.platform_handle", "value": "", "type": "string" },
            { "name": "subject.type", "value": "email_thread", "type": "string" },
            { "name": "subject.id", "value": "={{ $json.outlook_conversationId }}", "type": "string" },
            { "name": "subject.title", "value": "={{ $json.raw_subject || 'No Subject' }}", "type": "string" },
            { "name": "subject.url", "value": "={{ $json.webLink || null }}", "type": "string" },
            { "name": "content.body", "value": "={{ $json.outlook_body }}", "type": "string" },
            { "name": "content.metadata", "value": "={{ JSON.stringify({ outlook_conversation_id: $json.outlook_conversationId, outlook_categories: JSON.parse($json.outlook_categories || '[]'), outlook_from: $json.raw_from_email, outlook_to: [$json.raw_to_email], outlook_cc: [], outlook_is_reply: $json.is_reply }) }}", "type": "string" }
          ]
        }
      },
      "name": "Normalize to Laya Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8420/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, timestamp: $json.timestamp, source: $json.source, actor: $json.actor, subject: $json.subject, content: { body: $json.content.body, attachments: [], metadata: JSON.parse($json.content.metadata || '{}') } }) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Outlook Trigger": {
      "main": [[{ "node": "Extract Headers", "type": "main", "index": 0 }]]
    },
    "Extract Headers": {
      "main": [[{ "node": "Normalize to Laya Event", "type": "main", "index": 0 }]]
    },
    "Normalize to Laya Event": {
      "main": [[{ "node": "POST to Laya Engine", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
