n8n/workflows/slack-ingestion.json
{
  "name": "Laya - Slack Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "types",
              "value": "public_channel,private_channel,im,mpim"
            },
            {
              "name": "exclude_archived",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "cursor",
              "value": "={{ $json.cursor || '' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Channels Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\nconst executionId = $execution.id;\nif (staticData.executionId !== executionId) {\n  staticData.allChannels = [];\n  staticData.executionId = executionId;\n}\nconst page = $input.first().json;\nconst channels = page.channels || [];\nconst cursor = (page.response_metadata && page.response_metadata.next_cursor) || '';\nstaticData.allChannels.push(...channels);\nif (cursor) {\n  return [{ json: { cursor: cursor, _hasMore: true } }];\n} else {\n  const result = staticData.allChannels.slice();\n  staticData.allChannels = [];\n  return [{ json: { channels: result } }];\n}"
      },
      "name": "Accumulate Channels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has More Pages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const allChannels = $input.first().json.channels || [];\nconst oldest = String(Math.floor((Date.now() - 150000) / 1000));\nreturn allChannels\n  .filter(c => c.id && c.is_member !== false)\n  .map(c => ({\n    json: {\n      channel_id: c.id,\n      channel_name: c.name || c.id,\n      oldest: oldest\n    }\n  }));"
      },
      "name": "Build Channel Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel_id }}"
            },
            {
              "name": "oldest",
              "value": "={{ $json.oldest }}"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "inclusive",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const channelItems = $('Build Channel Items').all();\nconst responses = $input.all();\nconst allEvents = [];\n\nfor (let i = 0; i < responses.length; i++) {\n  const channel = channelItems[i]?.json ?? {};\n  const channelId = channel.channel_id || '';\n  const channelName = channel.channel_name || channelId;\n  const messages = responses[i].json.messages || [];\n\n  for (const msg of messages) {\n    if (!msg.ts || msg.type !== 'message') continue;\n    // Skip system messages\n    const skipSubtypes = ['channel_join', 'channel_leave', 'channel_topic', 'channel_purpose', 'bot_add', 'bot_remove'];\n    if (msg.subtype && skipSubtypes.includes(msg.subtype)) continue;\n\n    const msgTs = parseFloat(msg.ts);\n    const msgTime = new Date(msgTs * 1000);\n\n    // Classify event type\n    let rawEventType = 'message_received';\n    if (msg.thread_ts && msg.thread_ts !== msg.ts) {\n      rawEventType = 'thread_reply';\n    } else if ((msg.text || '').includes('<@')) {\n      rawEventType = 'mention';\n    }\n\n    // Determine channel type from ID prefix\n    let channelType = 'channel';\n    if (channelId.startsWith('D')) channelType = 'dm';\n    else if (channelId.startsWith('G')) channelType = 'mpim';\n\n    const eventId = 'evt_slack_' + msg.ts.replace('.', '_') + '_' + channelId;\n\n    allEvents.push({\n      json: {\n        event_id: eventId,\n        timestamp: msgTime.toISOString(),\n        source: {\n          platform: 'slack',\n          connection_id: $workflow.id,\n          raw_event_type: rawEventType\n        },\n        actor: {\n          name: msg.user || 'Unknown',\n          email: '',\n          platform_handle: msg.user || ''\n        },\n        subject: {\n          type: 'thread',\n          id: 'thread-' + channelId + '-' + (msg.thread_ts || msg.ts),\n          title: (msg.text || '').substring(0, 80),\n          url: null\n        },\n        content: {\n          body: msg.text || '',\n          attachments: [],\n          metadata: {\n            slack_channel: channelId,\n            slack_channel_name: channelName,\n            slack_channel_type: channelType,\n            slack_thread_ts: msg.thread_ts || msg.ts,\n            slack_message_ts: msg.ts,\n            slack_is_mention: (msg.text || '').includes('<@'),\n            participants: [\n              { role: 'sender', name: msg.user || '', email: '', handle: msg.user || '' }\n            ]\n          }\n        }\n      }\n    });\n  }\n}\n\nif (allEvents.length === 0) {\n  return [{ json: { _skip: true } }];\n}\nreturn allEvents;"
      },
      "name": "Normalize & Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LAYA_ENGINE_URL }}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, timestamp: $json.timestamp, source: $json.source, actor: $json.actor, subject: $json.subject, content: { body: $json.content.body, attachments: $json.content.attachments, metadata: $json.content.metadata } }) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get Channels Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channels Page": {
      "main": [
        [
          {
            "node": "Accumulate Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Channels": {
      "main": [
        [
          {
            "node": "Has More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages": {
      "main": [
        [
          {
            "node": "Get Channels Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Channel Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Channel Items": {
      "main": [
        [
          {
            "node": "Fetch Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Messages": {
      "main": [
        [
          {
            "node": "Normalize & Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Classify": {
      "main": [
        [
          {
            "node": "Has Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Events": {
      "main": [
        [
          {
            "node": "POST to Laya Engine",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.05.5"
  }
}
