n8n/workflows/slack-executor.json
{
  "name": "Laya - Slack Executor",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "slack-executor",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.channel || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "send_message",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "send_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "reply_thread",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "reply_thread",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "react",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action_type }}",
                    "rightValue": "react",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "name": "Send Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        900,
        50
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "channel": "={{ $json.body.payload.channel }}",
        "text": "={{ $json.body.payload.message }}"
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "slackApi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Reply Thread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        900,
        250
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "channel": "={{ $json.body.payload.channel }}",
        "text": "={{ $json.body.payload.message }}",
        "otherOptions": {
          "threadTs": "={{ $json.body.payload.thread_ts }}"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "slackApi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Add Reaction",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        900,
        450
      ],
      "parameters": {
        "resource": "reaction",
        "operation": "addReaction",
        "channel": "={{ $json.body.payload.channel }}",
        "emoji": "={{ $json.body.payload.emoji }}",
        "timestamp": "={{ $json.body.payload.timestamp }}"
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "slackApi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "name": "Respond Send Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { channel: $('Webhook').first().json.body.payload.channel, ts: $json.ts || '', action: 'send_message' } }) }}"
      }
    },
    {
      "name": "Respond Send Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Slack send_message failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Reply Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { channel: $('Webhook').first().json.body.payload.channel, ts: $json.ts || '', thread_ts: $('Webhook').first().json.body.payload.thread_ts, action: 'reply_thread' } }) }}"
      }
    },
    {
      "name": "Respond Reply Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Slack reply_thread failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond React Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: { channel: $('Webhook').first().json.body.payload.channel, emoji: $('Webhook').first().json.body.payload.emoji, action: 'react' } }) }}"
      }
    },
    {
      "name": "Respond React Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: ($json.error ? ($json.error.description || $json.error.message || JSON.stringify($json.error)) : 'Slack react failed \u2014 check credentials and workflow execution log') }) }}"
      }
    },
    {
      "name": "Respond Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Missing required field: payload must include channel' }) }}"
      }
    },
    {
      "name": "Respond Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        650
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown action_type: ' + ($json.body.action_type || 'empty') + '. Supported: send_message, reply_thread, react' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Reaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Respond Send Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Thread": {
      "main": [
        [
          {
            "node": "Respond Reply Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Reply Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Reaction": {
      "main": [
        [
          {
            "node": "Respond React Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond React Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.03.2"
  }
}