n8n/workflows/slack-ingestion.json
{
  "name": "Laya - Slack Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LAYA_ENGINE_URL }}/metadata/slack-channels:{{ $workflow.id }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Fetch Channel Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/users.list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Fetch Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/auth.test",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Fetch Workspace Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [790, 480]
    },
    {
      "parameters": {
        "jsCode": "const configResp = $('Fetch Channel Config').first().json;\nconst usersResp = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nstaticData.allowedChannels = configResp.value || null;\n\n// Cache workspace url + team id (from auth.test) so Normalize can build Slack\n// permalinks. If auth.test failed these stay unset and links fall back to null.\nconst wsResp = $('Fetch Workspace Info').first().json;\nif (wsResp && wsResp.ok !== false) {\n  if (wsResp.url) staticData.workspaceUrl = wsResp.url.replace(/\\/+$/, '');\n  if (wsResp.team_id) staticData.teamId = wsResp.team_id;\n}\n\nconst now = Date.now();\nconst cacheAge = now - (staticData.userMapUpdatedAt || 0);\nif (usersResp.ok !== false && usersResp.members && cacheAge > 600000) {\n  const map = {};\n  for (const m of usersResp.members) {\n    if (m.id && !m.deleted) {\n      const p = m.profile || {};\n      map[m.id] = {\n        name: p.display_name || p.real_name || m.name || m.id,\n        email: p.email || ''\n      };\n    }\n  }\n  staticData.userMap = map;\n  staticData.userMapUpdatedAt = now;\n}\n\nreturn [{ json: { cursor: '' } }];"
      },
      "name": "Build Allowed Set",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "types", "value": "public_channel,private_channel" },
            { "name": "exclude_archived", "value": "true" },
            { "name": "limit", "value": "1000" },
            { "name": "cursor", "value": "={{ $json.cursor || '' }}" }
          ]
        },
        "options": {}
      },
      "name": "Get Channels Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\nconst executionId = $execution.id;\nif (staticData.executionId !== executionId) {\n  staticData.allChannels = [];\n  staticData.executionId = executionId;\n}\nconst page = $input.first().json;\nconst channels = page.channels || [];\nconst cursor = (page.response_metadata && page.response_metadata.next_cursor) || '';\nstaticData.allChannels.push(...channels);\nif (cursor) {\n  return [{ json: { cursor: cursor, _hasMore: true } }];\n} else {\n  const result = staticData.allChannels.slice();\n  staticData.allChannels = [];\n  return [{ json: { channels: result } }];\n}"
      },
      "name": "Accumulate Channels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json._hasMore }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has More Pages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "const allChannels = $input.first().json.channels || [];\nconst oldest = String(Math.floor((Date.now() - 259200000) / 1000));\nconst staticData = $getWorkflowStaticData('global');\nconst allowed = staticData.allowedChannels;\nconst lastPollTs = staticData.lastPollTs || oldest;\nstaticData.lastPollTs = String(Math.floor(Date.now() / 1000));\n\nreturn allChannels\n  .filter(c => {\n    if (!c.id || c.is_member === false) return false;\n    if (allowed && Array.isArray(allowed)) {\n      return allowed.some(a => a.toLowerCase() === (c.name || '').toLowerCase());\n    }\n    return true;\n  })\n  .map(c => ({\n    json: {\n      channel_id: c.id,\n      channel_name: c.name || c.id,\n      oldest: oldest,\n      last_poll_ts: lastPollTs\n    }\n  }));"
      },
      "name": "Build Channel Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "channel", "value": "={{ $json.channel_id }}" },
            { "name": "oldest", "value": "={{ $json.oldest }}" },
            { "name": "limit", "value": "200" },
            { "name": "inclusive", "value": "false" }
          ]
        },
        "options": {}
      },
      "name": "Fetch Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "const channelItems = $('Build Channel Items').all();\nconst responses = $input.all();\nconst threads = [];\n\nfor (let i = 0; i < responses.length; i++) {\n  const channel = channelItems[i]?.json ?? {};\n  const resp = responses[i].json;\n  if (resp.ok === false) continue;\n  const lastPollTs = channel.last_poll_ts || '0';\n  const lastPollNum = parseFloat(lastPollTs);\n\n  for (const msg of (resp.messages || [])) {\n    if (msg.reply_count > 0 && msg.latest_reply) {\n      if (parseFloat(msg.latest_reply) > lastPollNum) {\n        threads.push({\n          json: {\n            channel_id: channel.channel_id,\n            channel_name: channel.channel_name,\n            thread_ts: msg.thread_ts || msg.ts,\n            oldest: lastPollTs\n          }\n        });\n      }\n    }\n  }\n}\n\nif (threads.length === 0) {\n  return [{ json: { _no_threads: true, channel_id: '', thread_ts: '0', oldest: '0' } }];\n}\nreturn threads;"
      },
      "name": "Extract Active Threads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "channel", "value": "={{ $json.channel_id }}" },
            { "name": "ts", "value": "={{ $json.thread_ts }}" },
            { "name": "oldest", "value": "={{ $json.oldest }}" },
            { "name": "limit", "value": "100" },
            { "name": "inclusive", "value": "false" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Fetch Replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "jsCode": "const userMap = $getWorkflowStaticData('global').userMap || {};\nconst workspaceUrl = $getWorkflowStaticData('global').workspaceUrl || '';\nconst teamId = $getWorkflowStaticData('global').teamId || '';\nfunction resolveUser(uid) {\n  return userMap[uid] || { name: uid, email: '' };\n}\nfunction resolveText(text) {\n  return (text || '').replace(/<@(U[A-Z0-9]+)>/g, (_, uid) => {\n    const u = resolveUser(uid);\n    return '@' + u.name;\n  });\n}\n\nconst channelItems = $('Build Channel Items').all();\nconst channelResponses = $('Fetch Messages').all();\nconst threadItems = $('Extract Active Threads').all();\nconst threadResponses = $input.all();\nconst allEvents = [];\nconst seenIds = new Set();\n\nfunction addEvent(msg, channelId, channelName) {\n  if (!msg.ts || msg.type !== 'message') return;\n  const skipSubtypes = ['channel_join', 'channel_leave', 'channel_topic', 'channel_purpose', 'bot_add', 'bot_remove'];\n  if (msg.subtype && skipSubtypes.includes(msg.subtype)) return;\n\n  const eventId = 'evt_slack_' + msg.ts.replace('.', '_') + '_' + channelId;\n  if (seenIds.has(eventId)) return;\n  seenIds.add(eventId);\n\n  const sender = resolveUser(msg.user);\n  const resolvedText = resolveText(msg.text || '');\n  const msgTime = new Date(parseFloat(msg.ts) * 1000);\n\n  let rawEventType = 'message_received';\n  if (msg.thread_ts && msg.thread_ts !== msg.ts) {\n    rawEventType = 'thread_reply';\n  } else if ((msg.text || '').includes('<@')) {\n    rawEventType = 'mention';\n  }\n\n  let channelType = 'channel';\n  if (channelId.startsWith('D')) channelType = 'dm';\n  else if (channelId.startsWith('G')) channelType = 'mpim';\n\n  // Canonical Slack permalink (message ts with the dot stripped, prefixed 'p');\n  // thread params keep replies in thread context. Empty workspaceUrl (auth.test\n  // failed / not yet cached) leaves url null, falling back to plain-text display.\n  let subjectUrl = null;\n  if (workspaceUrl && msg.ts) {\n    subjectUrl = workspaceUrl + '/archives/' + channelId + '/p' + msg.ts.replace('.', '');\n    const threadTs = msg.thread_ts || msg.ts;\n    if (threadTs && threadTs !== msg.ts) {\n      subjectUrl += '?thread_ts=' + threadTs + '&cid=' + channelId;\n    }\n  }\n\n  allEvents.push({\n    json: {\n      event_id: eventId,\n      timestamp: msgTime.toISOString(),\n      source: {\n        platform: 'slack',\n        connection_id: $workflow.id,\n        raw_event_type: rawEventType\n      },\n      actor: {\n        name: sender.name,\n        email: sender.email,\n        platform_handle: msg.user || ''\n      },\n      subject: {\n        type: 'thread',\n        id: 'thread-' + channelId + '-' + (msg.thread_ts || msg.ts),\n        title: resolvedText.substring(0, 80),\n        url: subjectUrl\n      },\n      content: {\n        body: resolvedText,\n        attachments: [],\n        metadata: {\n          slack_channel: channelId,\n          slack_team_id: teamId,\n          slack_channel_name: channelName,\n          slack_channel_type: channelType,\n          slack_thread_ts: msg.thread_ts || msg.ts,\n          slack_message_ts: msg.ts,\n          slack_is_mention: (msg.text || '').includes('<@'),\n          participants: [\n            { role: 'sender', name: sender.name, email: sender.email, handle: msg.user || '' }\n          ]\n        }\n      }\n    }\n  });\n}\n\nfor (let i = 0; i < channelResponses.length; i++) {\n  const channel = channelItems[i]?.json ?? {};\n  const resp = channelResponses[i].json;\n  if (resp.ok === false) continue;\n  const lastPollNum = parseFloat(channel.last_poll_ts || '0');\n  for (const msg of (resp.messages || [])) {\n    if (parseFloat(msg.ts) > lastPollNum) {\n      addEvent(msg, channel.channel_id || '', channel.channel_name || '');\n    }\n  }\n}\n\nfor (let i = 0; i < threadItems.length; i++) {\n  const item = threadItems[i].json;\n  if (item._no_threads) continue;\n  const resp = threadResponses[i].json;\n  if (resp.ok === false) continue;\n  for (const msg of (resp.messages || [])) {\n    addEvent(msg, item.channel_id || '', item.channel_name || '');\n  }\n}\n\nif (allEvents.length === 0) {\n  return [{ json: { _skip: true } }];\n}\nreturn allEvents;"
      },
      "name": "Normalize & Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LAYA_ENGINE_URL }}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, timestamp: $json.timestamp, source: $json.source, actor: $json.actor, subject: $json.subject, content: { body: $json.content.body, attachments: $json.content.attachments, metadata: $json.content.metadata } }) }}",
        "options": {}
      },
      "name": "POST to Laya Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 300]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [[{ "node": "Fetch Channel Config", "type": "main", "index": 0 }]]
    },
    "Fetch Channel Config": {
      "main": [[{ "node": "Fetch Users", "type": "main", "index": 0 }]]
    },
    "Fetch Users": {
      "main": [[{ "node": "Fetch Workspace Info", "type": "main", "index": 0 }]]
    },
    "Fetch Workspace Info": {
      "main": [[{ "node": "Build Allowed Set", "type": "main", "index": 0 }]]
    },
    "Build Allowed Set": {
      "main": [[{ "node": "Get Channels Page", "type": "main", "index": 0 }]]
    },
    "Get Channels Page": {
      "main": [[{ "node": "Accumulate Channels", "type": "main", "index": 0 }]]
    },
    "Accumulate Channels": {
      "main": [[{ "node": "Has More Pages", "type": "main", "index": 0 }]]
    },
    "Has More Pages": {
      "main": [
        [{ "node": "Get Channels Page", "type": "main", "index": 0 }],
        [{ "node": "Build Channel Items", "type": "main", "index": 0 }]
      ]
    },
    "Build Channel Items": {
      "main": [[{ "node": "Fetch Messages", "type": "main", "index": 0 }]]
    },
    "Fetch Messages": {
      "main": [[{ "node": "Extract Active Threads", "type": "main", "index": 0 }]]
    },
    "Extract Active Threads": {
      "main": [[{ "node": "Fetch Replies", "type": "main", "index": 0 }]]
    },
    "Fetch Replies": {
      "main": [[{ "node": "Normalize & Classify", "type": "main", "index": 0 }]]
    },
    "Normalize & Classify": {
      "main": [[{ "node": "Has Events", "type": "main", "index": 0 }]]
    },
    "Has Events": {
      "main": [
        [{ "node": "POST to Laya Engine", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "laya_version": "2026.06.24"
  }
}
